.amarillo {
	background-color: yellow;
	position:absolute;
	right: 0px;
	bottom: 0px;
}
.rojo {
	background-color: red;
	position:absolute;
	left:0px;
	top: 0px; 

}
.azul {
	background-color:blue;
	position: absolute;
	left:0px;
	bottom:0px;
}
div {
	height:200px;
	width: 200px;
}
.rosa{
	background-color:pink;
	position:absolute ;
	right: 0px;
	top: 0px;

}
body {
	margin: 0px;
	padding: 0px
}