.amarillo {
	background-color: yellow;
	position:static;
	
}
.rojo {
	background-color: red;
	position:static;
 

}
.azul {
	background-color:blue;
	position:static;


}
div {
	height:200px;
	width: 200px;
}
.verde{
	background-color:green;
	position:absolute;
	float:right;
	left: 200px;
	top: 200px;


}
body {
	margin: 0px;
	padding: 0px
}